* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  min-height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: grey;
  margin-bottom: 1rem;
}

nav h1 {
  font-family: cursive;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  list-style: none;
}

h1,
.center {
  text-align: center;
}

.About,
.Store,
.Item {
  padding-left: 1rem;
}

.Item p,
.About p {
  text-align: center;
}

.Skeleton {
  background-color: #DEDEDE;
  margin: .5rem;
  position: relative;
  overflow: hidden;
}

.shimmer-effect {
  width: 33%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -33%;
  background-image: linear-gradient(90deg, transparent, #ffffff46);
  animation: flash 2s ease-out infinite;
}

@keyframes flash {
  from {
    transform: translateX(0) skewX(-20deg);
  }
  to {
    transform: translateX(600%) skewX(-20deg);
  }
}

.header {
  height: 2rem;
  width: 10rem;
  border-radius: 1rem;
}

.text {
  width: 20rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: #F0F0F0;
}

.pic {
  background-color: #E3E3E3;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.image {
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
}

.Store .text {
  margin: 1rem;
  height: 1.5rem;
}

.item-skeleton {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.item-skeleton .image {
  margin-top: 5rem;
}

img {
  height: 30rem;
  display: block;
  margin: auto;
}